zero123/logs/*
zero123/experiments/*
zero123/experiments/*
zero123/experiments_cvpr/*
3drec/experiments/*
3drec/data/*
syncdreamer_3drec/gso_cvpr_rec/*
syncdreamer_3drec/gso_autoregressive_rec/*
syncdreamer_3drec/gso_zero123_rec_spin16/*
syncdreamer_3drec/gso_zero123_rec/*
syncdreamer_3drec/gso_zero123_rec_spin36/*
syncdreamer_3drec/gso_zero123_rec_spin16/*
syncdreamer_3drec/gso_autoregressive_rec_spin16/*
syncdreamer_3drec/gso_one2345/*
syncdreamer_3drec/gso_one2345_estimate_elev/*
syncdreamer_3drec/gso*/*
syncdreamer_3drec/2ndrun/*
syncdreamer_3drec/syncdreamer_renderings/*
syncdreamer_3drec/multi_view/*
syncdreamer_3drec/abo/*
syncdreamer_3drec/gso/*
*.ckpt
*.jpg
*.ply
*.obj
